<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p> hello freind </p>
  </body>
  <div>
    <ul>
      <li>
        Book coount is <%= data.book_count %>
      </li>
      <li>
        Book instance coount is <%= data.book_instance_count %>
      </li>
      <li>
        Genre coount is <%= data.genre_count %>
      </li>
      <li>
        Author coount is <%= data.author_count %>
      </li>
    </ul>
  </div>
</html>
